body {
    margin: 0;
    padding: 0;
   font-family:  sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.nav-1{
    background: #dee8f1;
}
.top-header {
    margin-left: 100px;
    padding: 15px;
}
a.nav1--content {
    margin: 10px;
    text-decoration: none;
}
.nav-2, .nav-3 {
    background-color: #92327a;
}
ul.list {
    list-style: none;
}
ul.main-header.list {
    padding-left: 0px;
}
li.menu-list {
    padding-top: 35px;
    padding-right: 18px;
    padding-left: 18px;
}
.main-header {
    display: flex;
}
.logo img {
    padding-top: 25px;
}
i.fa.fa-chevron-down.font {
    padding-top: 38px;
    margin-left: -5px;
}
i.fa.fa-search.font {
    margin-right: 25px;
    margin-left: 360px;
}
.font {
    color: white;
}
.man-header.right {
    padding: 35px;
    font-size: 20px;
}

.image-slider{
    background-image: url('images/group 116361bblhllbkfyw.png' );
    height:300px;
    width: 100%;
    animation: slider 10s infinite;
    /*animation: slider 10s infinite 4s;*/
    /*margin-outside: 20%;*/
    /*position: absolute;*/
    align-content: center;
    object-fit: contain;
}
@keyframes slider{
    0%{
        background-image: url('images/1063-2-lockdown-offers_recharge-offer-pwa-banners-_1366x430pxb8xk3.jpg');
    }
    50%{
        background-image: url('images/11366x430 pwaey3gk.jpg');
    }
    100%{
        background-image: url('images/1366x430 triple pwa51h71.jpg');
    }
}
.nav-bottom {
    display: flex;
    justify-content: space-between;
}
.nav-3 {
    padding: 50px 0px;
}
.item.one {
    font-size: 32px;
    margin: 0px 37px;
    color: linear-gradient;
    /* color: #ff4003; */
}
input.button {
    border-radius: 50px;
    width: 250px;
    height: 50px;
}
.item.four {
    font-size: 30px;
    /* border: solid white; */
    /* border-radius: 30px; */
    padding: 0px 50px;
    color: white;
    background-color: #f5473b;
    border-radius: 50px;
    /* width: 228px; */
    height: 50px;
}

.title{
	padding-top: 50px;
    font-size: 40px;
    color: #84718c;
    text-align: center;
}
.diff-packs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
}
.pack {
    width: 135px;
    height: 150px;
    border: 1px solid powderblue;
    border-radius: 35px;
}
.col-6.left-sim {
    padding-top: 250px;
    padding-right: 250px;
}
p.text {
    /* padding: 30px 0px; */
    padding-top: 40px;
    /* padding-bottom: 25px; */
}
input.button {
    padding-right: 50px;
    padding-left: 50px;
    /* background-color: #c7978f; */
}
.col-6.right-sim {
    padding-top: 100px;
}
.banner {
    margin-top: 50px;
}
.pic-ins-texts{
	position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(8%, -50%);
    width: 30%;
    z-index: 1;
}
}
.footer {
    background-color: #e2e2e2;
}
.flex.container {
    display: flex;
    justify-content: space-between;
}
.flex.item{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.top-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.flex.left-bottom-footer {
    padding: 10px 0px;
}